@using FliereFluiter.WebUI.HtmlHelpers

@model FliereFluiter.WebUI.Models.ReceptieViewModel
@{
    ViewBag.Title = "ReceptieStart";
}

<h2>ReceptieStart</h2>
@foreach(var p in Model.placeReservations)
{
    @p.PlaceReservationId @:, @p.Guest.Name
    @Html.ActionLink("bevestig reservering", "confirmReservation", "Receptie",new { PlaceReservationId = p.PlaceReservationId}, null)
    <br />
}

