@model FliereFluiter.WebUI.Models.ReceptieViewModel
@{
    ViewBag.Title = "UpdateReservation";
}

<h2>UpdateReservation</h2>

@using (Html.BeginForm("UpdateReservationPost", "Receptie", new { }, FormMethod.Post, new { @class = "form_html" }))
{
    
    for (int i = 0; i < Model.prcpList.Count(); i++)
    {

        @Html.HiddenFor(m => Model.prcpList[i].PlaceReservationId, new { PlaceReservationId = Model.prcpList[i].PlaceReservationId}) 
        @:vul hier uw gewenste aankomst datum<br />


        @Html.EditorFor(m => Model.prcpList[i].PeriodBegin, "PeriodBegin", new { @Value = Model.prcpList[i].PeriodBegin })
        @:<br /><br />


        @:vul hier uw gewenste vertrek datum<br />
        @Html.EditorFor(m => Model.prcpList[i].PeriodEnd, "PeriodEnd", new { @Value = Model.prcpList[i].PeriodEnd })

        @:<br /><br />


        @:Vul hier in het gewenste plaats in<br />
        @Html.DropDownListFor(m => m.prcpList[i].CampingPlaceId, new SelectList(Model.campingPlaceList, "CampingPlaceId", "Name", Model.prcpList[i].CampingPlaceId, null ));
        @:<br /><br />


    }
    <input type="submit" value="voer wijziging door" />
}