@using FliereFluiter.WebUI.HtmlHelpers

@model FliereFluiter.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Login succelfull";
}

<h2> Hallo @Html.DisplayTextFor( x => Model.UserName), U bent succelvol ingelogd </h2>

@Html.DisplayTextFor(y => Model.RoleLvl)