@using FliereFluiter.WebUI.HtmlHelpers
@model FliereFluiter.WebUI.Models.MainViewModel

@{
    ViewBag.Title = "Guests";
}

<div class="home-content-header">
    <div class="row">
        <div class="home-content-header-reservationblock">
            <div class="home-content-header-reservationblock-inner">
                <div id="home-content-header-reservationblock-inner-title1">
                    WIL JIJ OOK VAKANTIE VIEREN OP CAMPING FLIERE FLUITER
                </div>
                <div id="home-content-header-reservationblock-inner-title2">
                    RESERVEER DAN DIRECT
                </div>

                    <div class="home-content-header-reservationblock-inner-button">
                        <a href="Guest/Reservation">
                            <div id="home-content-header-reservationblock-inner-button-text">

                                ZOEK &amp BOEK

                            </div>
                        </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="divider-content1">
    <div class="divider-content1-topbar">
    </div>
    <div class="divider-content1-center">
        <div class="divider-content1-center-title">
            ONZE KAMPEERLOCATIES
        </div>
        <div class="divider-content1-center-container">
            <div class="divider-content1-center-innercontainer divider-content1-center-leftcontainer">
                STANDAARD
            </div>
            <div class="divider-content1-center-innercontainer divider-content1-center-centercontainer">
                TREKKER
            </div>
            <div class="divider-content1-center-innercontainer divider-content1-center-rightcontainer">
                COMFORT
            </div>
        </div>
    </div>
    <div class="divider-content1-botbar">

    </div>
    <div class="divider-content1-center" id="faciliteiten">
        <div class="divider-content1-center-title">
            ONZE Faciliteiten
        </div>
        <div class="divider-content1-center-container">
            <div class="divider-content1-center-innercontainer divider-content1-center-leftcontainer">
                FIETSEN
            </div>
            <div class="divider-content1-center-innercontainer divider-content1-center-centercontainer">
                TV
            </div>
        </div>
    </div>
    <div class="content-contact" id="contact">
        Wilt u contact met ons opnemen dat kan<br />
        tel: 076-555 55 55<br />
        email: info&#64flierefluiter.com<br />
        <div class="googlemaps">
            <iframe width="450"
                    height="250"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDEMRctA67EWZwWCTYHwhGHHBMxDCCaw_M&q=ulvenhout" allowfullscreen></iframe>

        </div>
    </div>

</div>


<div>
    @Html.ActionLink("Reserveren", "Reservation", "Guest")
</div>