
@{
    ViewBag.Title = "facilityManagement";
}

<h2>facilityManagement</h2>

@Html.ActionLink("Naar reserveringen", "FacilityReservation", "Beheer")<br />
@Html.ActionLink("naar Faciliteiten", "FacilityView", "Beheer")<br />